<a href="https://colab.research.google.com/github/claudyane/Analise_de_Dados_pandas/blob/main/03_Introducao_a_Biblioteca_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importando a biblioteca pandas
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv("/gapminder.csv", error_bad_lines=False, sep=",")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
#visualizando as cinco primeiras linhas
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [ ]:
df = df.rename(columns={"country":"País", "continent":"Continente", "year":"Ano", "lifeExp":"Exp de Vida", "pop":"População", "gdpPercap":"PIB"})

In [ ]:
df.head()

          País Continente   Ano  Exp de Vida  População         PIB
0  Afghanistan       Asia  1952       28.801    8425333  779.445314
1  Afghanistan       Asia  1957       30.332    9240934  820.853030
2  Afghanistan       Asia  1962       31.997   10267083  853.100710
3  Afghanistan       Asia  1967       34.020   11537966  836.197138
4  Afghanistan       Asia  1972       36.088   13079460  739.981106

In [ ]:
#Total de linhas e colunas
df.shape

(1704, 6)

In [ ]:
df.dtypes

País            object
Continente      object
Ano              int64
Exp de Vida    float64
População        int64
PIB            float64
dtype: object

In [ ]:
#dados estatisticos do csv
df.describe()

              Ano  Exp de Vida     População            PIB
count  1704.00000  1704.000000  1.704000e+03    1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081
std      17.26533    12.917107  1.061579e+08    9857.454543
min    1952.00000    23.599000  6.001100e+04     241.165876
25%    1965.75000    48.198000  2.793664e+06    1202.060309
50%    1979.50000    60.712500  7.023596e+06    3531.846988
75%    1993.25000    70.845500  1.958522e+07    9325.462346
max    2007.00000    82.603000  1.318683e+09  113523.132900

In [ ]:
#Valores únicos de colunas
df["Continente"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', 'Oceania'], dtype=object)

In [ ]:
oceania = df.loc[df["Continente"] == "Oceania"]
oceania.head()

         País Continente   Ano  Exp de Vida  População          PIB
60  Australia    Oceania  1952        69.12    8691212  10039.59564
61  Australia    Oceania  1957        70.33    9712569  10949.64959
62  Australia    Oceania  1962        70.93   10794968  12217.22686
63  Australia    Oceania  1967        71.10   11872264  14526.12465
64  Australia    Oceania  1972        71.93   13177000  16788.62948

In [ ]:
df.groupby("Continente")["País"].nunique()

Continente
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: País, dtype: int64

In [ ]:
df.groupby("Ano")["Exp de Vida"].mean()

Ano
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: Exp de Vida, dtype: float64

In [ ]:
# Obtendo a média do PIB
df["PIB"].mean()

7215.327081212149

In [ ]:
# Obtendo a soma do PIB
df["PIB"].sum()

12294917.346385501